@mixin border {
  border: 0.1px solid rgb(54, 54, 54);
  box-shadow: 0px 0px 1px rgb(29, 29, 29);
  border-radius: 7px;
  color: #fff;
}

.filter-column {
  overflow: hidden;
  padding: 0 0.2rem 0.8rem 0.2rem;
  @include border;
  height: max-content;

  .filter-by {
    display: flex;
    flex-direction: column;

    .label {
      width: 100%;
      font-weight: 500;
      padding-bottom: 0.3rem;
    }

    .select {
      width: 100%;
      margin-bottom: 0.8rem;
      height: 1.8rem;
      border-radius: 5px;
      border: 0.1px solid rgb(209, 204, 204);
    }

    .filter-by-btn {
      border-radius: 5px;
      border: 0.1px solid rgb(255, 255, 255);
      padding: 0.5rem;
      background: #000000;
      margin-top: 1rem;
      color: #fff;
      cursor: pointer;

      &:hover {
        border: 0.1px solid #000000;
        background: #fff;
        color: #000;
      }
    }
  }
}
