.games-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.4rem;
  min-height: 60vh;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .no-game {
    text-align: center;
    color: #fff;
    font-weight: 500;
  }
}

.no-game-grid {
  grid-template-columns: 1fr;
}
